{% extends 'account\base.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% crispy form %}
{% block title%}
Reset password
{% endblock %}
{% block content %}
  {% if validlink %}
    <h3 class="text-primary">Change password</h3>
    <form method="post" class="col-md-8 mt-4 mb-4">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Change password</button>
    </form>
  {% else %}
    <h4 class="col-md-12 text-danger mt-4 text-center">
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </h4>
  {% endif %}
{% endblock %}