{% extends 'base1.html'%}
{% load static %}
{% block title %}
Blogpage
{% endblock %}

{% block content%}
      <style>
          .col-md-3
          {
          display: inline-block;
          margin-left:-4px;
          }
          .carousel-indicators .active {
          background-color: blue;
          position: fixed;
            }
          .col-md-3 img{
          width:100%;
          height:auto;
          }
          body .carousel-indicator li{
          background-color: blue;
          }
          body .carousel-indicators{
          bottom: 0;
          }
          body .carousel-control-prev-icon,
          body .carousel-control-next-icon{
          background-color: blue;
          position: inherit;
          }
          .carousel-control-prev,
          .carousel-control-next{
            top: auto;
            bottom: auto;
          }
           body .no-padding{
           padding-left: 0,
           padding-right: 0;
           }
  </style>
<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-12 px-0">
      <h2 class="display-4 text-center">Marriage Metromonial Blog Page</h2>
      <p class="lead my-3 text-center">We are here to make your life full of joy and finding your soulmate.</p>
    </div>
  </div>
<div class="container" style="margin-bottom:60px;">

    {% for product, range, nSlides in allProds %}
    <h5 class="my-4 mb-4">Category {{product.0.gender}} - Recommended for you</h5>
<div id="demo{{forloop.counter}}" class="carousel slide my-3" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>
          {% for i in range %}
              <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}" ></li>
          {% endfor %}
    </ul>

    <!--Slideshow starts here -->
    <div class="container carousel-inner no-padding">

      <div class="carousel-item active">
          {% for i in product|slice:"0:"%}
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card" style="width: 18rem;">
            <img src="{{i.thumb.url}}" style="height:20rem"class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title text-primary">{{i.user}}</h5>
                <a href="#" class="btn btn-primary">View Profile</a>
            </div>
          </div>
        </div>
         {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
             </div><div class="carousel-item">
         {% endif %}

         {% endfor %}
      </div>

    </div>

</div>

    <!-- left and right controls for the slide -->
    <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

 {% endfor %}
</div>
{% endblock %}
