{% extends 'base1.html'%}
{% block title %}
About us
{% endblock %}

{% block content %}
   <div class="col-sm-12 col-xm-12 col-md-12 p-4 m-4 ml-4" style="background-color: #aaaaaa">
      <p style="font-size: 20px;font-style: italic">HappyMarriage.com is one of Bangladeshi leading matrimonial websites that has helped lakhs of members find their perfect life partner.
       We believe choosing a life partner is a big and important decision, and hence work towards giving a simple and secure matchmaking experience for you and your family. Each profile registered with us goes through a manual screening process before going live on site; we provide superior privacy controls for Free; and also verify contact information of members. You can register for Free and search according to your specific criteria on age, height, community, profession, income, location and much more- on your computer, tablet or mobile. Regular custom mails and notifications make the process easier and take you closer to your soulmate!
       <br>
   </div>
{% endblock%}