<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'owl/OwlCarousel2-2.3.4\dist\assets\owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'owl/OwlCarousel2-2.3.4\dist\assets\owl.theme.default.min.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand text-primary" href="#">MarriageMatromonial.Com</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'Homepage'%}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'BlogHome' %}">Blog page</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'aboutus'%}">About us</a>
      </li>
        <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    </ul>
      <ul class="navbar-nav my-2 my-lg-0">
              {% if user.is_authenticated %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{user.username}}<img src="{% static 'logo/user.png' %}">
        </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
                    <a class="dropdown-item" href="{% url 'Dashbord'%}">Dashbord</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'Logout' %}">Logout</a>
                </div>
      </li>
               {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Register'%}">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Login' %}">Login</a>
              </li>
              {% endif %}
    </ul>

  </div>
</nav>
    {% block content %}

    {% endblock%}
    <div id="footer">
           <h4>All Right are Reserved &copy;  MarriageMatromonial.Com</h4>
    </div>
<script type="text/javascript" src="{% static 'owl\OwlCarousel2-2.3.4\docs\assets\vendors\jquery.min.js' %}" charset="utf-8"></script>
  <script type="text/javascript" src="{% static 'owl\OwlCarousel2-2.3.4\dist\owl.carousel.js' %}" charset="utf-8"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>